.leftmenu {
  padding-left: 20%;
}

.custom-nav-btn:hover {
  background-color: black;
  color: white;
  border-radius: 5px; /* Optional: for slightly rounded corners */
  padding: 5px 10px;
}
.custom-nav-btn {
  color: black;
}
/* Responsive adjustments for smaller screens */
@media (max-width: 992px) {
  .leftmenu {
    padding-left: 0; /* Remove padding for mobile */
    text-align: center; /* Center align menu items */
  }

  .navbar-nav {
    align-items: center;
  }

  .navbar-nav .nav-link {
    padding: 10px 0; /* Adjust spacing for mobile */
  }
}
